<div class="background-full-screen">
  <div class="text-vcenter">
    <div class="login-box">
		<h2>Forgot Your Password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

        <div class="form-group">
		  <div class="field">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
		  </div>
		</div>

		  <div class="actions">
		    <%= f.submit "Reset Password", class: 'btn btn-primary btn-lg btn-3' %>
		  </div>
		<% end %>
		<div class="links-2">
			<%= render "devise/shared/links" %>
		</div>
    </div>
  </div>
</div>