<!DOCTYPE html>
<html>
<head>
  <title>RsgTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/angular/config.js','/angular/routes.js', '/angular/controllers/contactsController.js', '/angular/controllers/jobsController.js', '/angular/controllers/calendarsController.js','/angular/factories/contactFactory.js', '/angular/factories/jobFactory.js', '/angular/factories/calendarFactory.js','/angular/directives/calendarsDirective.js', '/angular/directives/testDirective.js','/angular/factories/relationshipFactory.js', '/angular/factories/interactionFactory.js', '/angular/bootstrapper.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'nav.html.erb' %>

	<% if notice.present? %>
		<div class='alert alert-info'>
			<%= notice %>
		</div>
	<% end %>
	<% if alert.present? %>
		<div class='alert alert-danger'>
			<%= alert %>
		</div>
	<% end %>

	<%= yield %>

	<%= render 'footer.html.erb' %>
</body>
</html>
